@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure Tailwind utilities handle theme changes */
body {
  @apply bg-background text-foreground;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  position: static; /* Ensure no relative positioning */
  overflow: visible; /* Make sure overflow is not hidden or clipped */
  height: 100%; /* Ensure they take the full height of the viewport */
  margin: 0; /* Remove any default margins */
}

video {
  controls-list: nofullscreen; /* Disable fullscreen controls */
  -webkit-user-select: none;   /* Prevent fullscreen via double-click */
  -webkit-playsinline: true;   /* Ensure inline playback on Safari/iOS */
  playsinline: true;           /* Ensure inline playback across modern browsers */
}
